{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

{% set path = options.link.url|default(path(options.link.route|default(grid.requestConfiguration.getRouteName('update')), options.link.parameters|default({'id': data.id}))) %}

{% if data.main == false and data.deactivatedAt and not data.saleClosedAt %}
    {{ buttons.cloture(path, action.label, true, data.id) }}
{% endif %}
