<div class="middle aligned column">
    <div class="ui right floated buttons">
        {% if definition.actionGroups.main is defined %}
            {% for action in definition.getEnabledActions('main') %}
                {% if action.getOptions().role is defined %}
                    {% if is_granted(action.getOptions().role) %}
                        {{ sylius_grid_render_action(resources, action, null) }}
                    {% endif %}
                {% else %}
                    {{ sylius_grid_render_action(resources, action, null) }}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
