{% import "@SyliusAdmin/Common/Macro/money.html.twig" as money %}
<div id="pricing">
    <h4 class="ui top attached large header">{{ 'sylius.ui.inventory'|trans }}</h4>
    <div class="ui attached segment">
        <table id="pricing" class="ui very basic celled table">
            <thead>
                <tr>
                    <th><strong class="gray text">{{ 'sylius.ui.channels'|trans }}</strong></th>
                    <th style="text-align: center !important; width: 25% !important;"><strong class="gray text">{{ 'sylius.ui.stock.on_hand'|trans }}</strong></th>
                    <th style="text-align: center !important; width: 25% !important;"><strong class="gray text" style="white-space: nowrap !important;">{{ 'sylius.ui.stock.on_hold'|trans }}</strong></th>
                </tr>
            </thead>
            <tbody>
                {% for channelstock in product.variants.first.channelStocks %}
                    {# {% if product.channels.first != false %} #}
                        <tr>
                            <td class="five wide gray text">
                                <strong>{{ channelstock.channelCode|sylius_channel_name }}</strong>
                            </td>
                            <td style="text-align: center !important;">{{ channelstock.onHand }}</td>
                            <td>{{ channelstock.onHold }}</td>
                        </tr>
                    {# {% endif %} #}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
