<div class="ui very padded center aligned secondary segment m-0 mb-5 p-6" style="background-color: var(--vasse-grey);">
    <div class="ui centered grid">
        <div class="sixteen wide tablet twelve wide computer center aligned column">
            {# <h2 class="ui huge header">
                {{ 'sylius.homepage.about_us'|trans }}
            </h2> #}
            <h1 class="ui huge header">{{ 'sylius.homepage.about_us'|trans }}</h1>
            <div class="">
                <h3 style="text-align: left; color: #a51616;">2008 grande date ! « Les Normands » débarquent à Paris.</h3>
            </div>
    </div>
</div>
