<div class="homepage-banner">
    <div class="homepage-banner__image">
        {% if sylius.channel.image %}
            <img src="{{ asset('media/image/' ~ sylius.channel.image.path) }}" alt="{{ 'sylius.homepage.banner_content'|trans }}">
        {% else %}
            <img src="{{ asset('build/app/shop/images/Vasse_Mobilier_default.jpeg', 'app.shop') }}" alt="{{ 'sylius.homepage.banner_content'|trans }}">
        {% endif %}
    </div>
    <div class="homepage-banner__content">
        <div>
            {% if sylius.channel.bannerContent %}
                {{ sylius.channel.bannerContent }}
            {% elseif sylius.channel.main %}
                {{ 'sylius.homepage.banner_content'|trans }}
            {% endif %}
        </div>

        {# {% if sylius.channel.main %}
            {% set link = sylius.channel.bannerLink ? sylius.channel.bannerLink : 'sylius.homepage.banner_link'|trans %}
            {% set linkText = sylius.channel.bannerLinkText ? sylius.channel.bannerLinkText : 'sylius.homepage.banner_link_text'|trans %}
            <a href="{{ link }}" target="_blank" class="ui huge primary button">{{ linkText }}</a>
        {% elseif sylius.channel.bannerLink %} #}
        {% if sylius.channel.bannerLink %}
            {% set link = sylius.channel.bannerLink %}
            {% set linkText = sylius.channel.bannerLinkText ? sylius.channel.bannerLinkText : sylius.channel.bannerLink %}
            <a href="{{ link }}" target="_blank" class="ui huge primary button">{{ linkText }}</a>
        {% endif %}
    </div>
</div>
