{% include '@SyliusShop/Product/Show/Tabs/_details.html.twig' %}
{% include '@SyliusShop/Product/Show/Tabs/_attributes.html.twig' %}
{% include '@SyliusShop/Product/Show/Tabs/_dimensions.html.twig' %}
{# {% include '@SyliusShop/Product/Show/Tabs/_reviews.html.twig' %} #}
