<div class="five wide column">
    <h4 class="ui inverted header">Le showroom</h4>
    <div class="ui inverted link list">
        <div class="item">455 Rue Georges Bellanger</div>
        <div class="item">LE VIEIL EVREUX</div>
        <div class="item">06.46.50.68.70</div>
        <a href="mailto:mobilier@vassetransfert.fr" class="item">mobilier@vassetransfert.fr</a>
        <div class="item">Horaires:</div>
        <div class="item">9h-12h / 14h-18h (du lundi au jeudi)</div>
        <div class="item">9h-12h / 14h-17h (vendredi)</div>
        <div class="item">Fermé le samedi / dimanche</div>
    </div>
</div>
