<div class="three wide column flex align-items-center">
    <div>
        <a href="https://vassetransfert.fr" target="_blank" style="display: inline-block; text-align: center;">
            <img src="{{ asset('build/app/shop/images/Vasse_Mobilier.png', 'app.shop') }}" alt="logo Vasse Mobilier" class="ui small image"/>
        </a>
        <div style="align-self: last baseline; color: rgba(255, 255, 255, 0.5) !important; margin-bottom: 0px; font-size: 1rem;">
            V{{ ecom_version }}                    
        </div>
    </div>
</div>
