{% set cgv_url = absolute_url( asset('documents/CGV_vassemobilier_30102024.pdf')) %}
<div class="four wide column">
    <h4 class="ui inverted header">{{ 'sylius.ui.your_store'|trans }}</h4>
    <div class="ui inverted link list">
        <a href="{{ path('sylius_shop_about_us') }}" class="item">{{ 'sylius.homepage.about_us'|trans }}</a>
        <a href="{{ path('sylius_shop_showroom') }}" class="item">Showroom</a>
        <a href="{{ path('sylius_shop_delivery') }}" class="item">{{ 'sylius.ui.delivery_and_shipping'|trans  }}</a>
        <a href="{{ asset('documents/CGV_vassemobilier_30102024.pdf') }}" class="item" target="_blank">{{ 'sylius.ui.terms_and_conditions'|trans }}</a>
        <a href="#" class="item">{{ 'sylius.ui.privacy_policy'|trans }}</a>
        <a href="{{ path('sylius_shop_mentions_legales') }}" class="item">Mentions légales</a>
        <a href="{{ path('sylius_shop_contact_request') }}" class="item">{{ 'sylius.ui.contact_us'|trans }}</a>
    </div>
</div>
