<div class="content" style="margin-top: 10px;">
    {# <div class="header">
        {{ shipment.method }}
    </div>
    <div class="description">
        <i class="globe icon"></i>{{ shipment.method.zone }}
    </div> #}
    {% if shipment.shippedAt is not empty %}
        {{ 'sylius.ui.shipped_at'|trans }} : <span class="shipped-at-date">{{ shipment.shippedAt|format_datetime(pattern="eee dd MMM yyyy 'à' HH:mm", locale="fr", timezone="Europe/Paris")|capitalize }}</span>
    {% endif %}
</div>
