{# <div class="right floated content">
    {% include '@SyliusAdmin/Common/Label/shipmentState.html.twig' with {'data': shipment.state} %}
</div> #}

<div class="content flex align-items-center" style="width: 100%;">
    <i class="large truck icon"></i>
    <div class="header" style="padding-left: 5px;">
        {{ shipment.method }}
    </div>
    <div class="description" style="padding-left: 5px;">
        <i class="globe icon"></i>{{ shipment.method.zone }}
    </div>
    {# {% if shipment.shippedAt is not empty %}
        {{ 'sylius.ui.shipped_at'|trans }}: <span class="shipped-at-date">{{ shipment.shippedAt|date('d-m-Y H:i:s') }}</span>
    {% endif %} #}
</div>
