@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --vasse-white: #fff;
    --vasse-primary: #a51616;
    --vasse-grey: #f9f8f7;
}

html { 
    font-size: 16px;
}

*:not(i),
.ui,
.ui.header {
    font-family: 'Lato', sans-serif!important;
}

h1.ui.header,
h2.ui.header,
h3.ui.header,
h4.ui.header,
h5.ui.header {
  font-family: 'Montserrat', sans-serif !important;
  color: var(--vasse-primary) !important;
}

.ui.button { 
    margin: 0em !important; 
    padding: 1rem 1.5rem !important;
}

/* .ui.labeled.icon.button {
    padding-left: unset !important;
    position: unset;
} */

.ui.large.primary.icon.button {
    display: inline-flex;
    justify-content: center;
    i.icon.left {
        margin-right: 1rem !important;
    }
    i.icon.right {
        margin-left: 1rem !important;
    }
}

[data-route=sylius_shop_checkout_complete] .segment .ui.large.primary.fluid.icon.button,
[data-route=sylius_shop_account_order_show] .segment .ui.large.primary.fluid.icon.button {
    display: block !important;
    max-width: 500px !important;
    height: 60px;
    margin: 2rem auto 0px auto !important;
}

.sylius-flash-message { margin: 1rem 0px 0px 0px !important; }

[data-route="sylius_shop_homepage"] .sylius-flash-message { margin-bottom: 1rem !important; }

.sylius-quantity.ui.form input[type="number"] {
    width: 60px !important;
    padding: 0.73em 0em 0.75em 0em !important;
    text-align: right;
}

.sylius-quantity.ui.form input[type="number"]::-webkit-outer-spin-button, 
.sylius-quantity.ui.form input[type="number"]::-webkit-inner-spin-button { margin-left: 5px; } 

[data-route="sylius_shop_cart_summary"] .column:first-child .table tbody td,
[data-route="sylius_shop_cart_save"] .column:first-child .table tbody td,
[data-route="sylius_shop_checkout_complete"] form table tbody td,
[data-route="sylius_shop_account_order_show"] table tbody td {
    padding: 1rem 0 !important;
}

.ui.items { margin: 0px !important; }
.ui.items > .item > .content { flex: 1 0 auto !important; }
.ui.items > .item > .content > .description { margin-top: 0px !important; }

#checkoutHeader {
    margin-bottom: 0px !important;
    padding: 1rem 0px !important;
}
#checkoutHeader div.ui.large.text.menu {
    margin: 0px !important;
}

[data-route^=sylius_shop_checkout_] .ui.dividing.header {
    padding-bottom: 0px !important;
}
[data-route^=sylius_shop_checkout_] div.ui.four.steps {
    margin-bottom: 2rem !important;
}
[data-route^=sylius_shop_checkout_] button.ui.button {
    margin: 0px !important;
}
[data-route^=sylius_shop_checkout_] #next-step i {
    right: 0 !important;
}

.ui.breadcrumb {
    margin-bottom: 0px !important;
}

[data-route=sylius_shop_product_show] .ui.two.column.stackable.grid {
    padding: 1rem !important;
}

[data-route=sylius_shop_product_show] h4.ui.horizontal.section.divider.header {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

/* [data-route="sylius_shop_homepage"]  */
#footer.ui.inverted.vertical.footer.segment {
    padding: 2rem !important;
    background: #1E2E3E;
    margin-top: 2rem !important;
}

[data-route="sylius_shop_homepage"] .homepage .secondary.segment.newsletter {
    padding: 3rem 0;
    margin-top: 0px !important;
}

[data-route="sylius_shop_homepage"] .homepage .secondary.segment.newsletter::before {
    background-color: var(--vasse-grey);
}

[data-route="sylius_shop_homepage"] .ui.huge.header::after,
.ui.horizontal.section.divider.header::after {
    all: unset;
    content: "›";
    display: inline-block;
    padding: 0 0 0 15px;
    color: var(--vasse-primary);
}

.pusher > #menu {
    padding: 1rem !important;
    background-color: var(--vasse-grey) !important;
    color: black !important;
}

.pusher > #menu::after { 
    all: unset; 
}

.top-bar * {
    color: black !important;
    font-size: 1rem !important;
}

#vasse-footer {
    background: var(--vasse-primary);
    .footer-contact-button {
        border: 1px solid #fff;
        color: white;
        cursor: pointer;
    }
    .footer-contact-button:hover {
        color: black!important;
        background-color: white;
    }
}

.vasseLogo { width: 100px; }
  
[data-route^=sylius_shop_account_] .ui.container .ui.grid > .twelve.wide.column:last-child {
    padding-left: 2rem !important;
}

.sylius-grid-table-wrapper .ui.sortable.table thead th { 
    padding: 16px 8px !important; 
    /* background-color: #fafafa !important; */
}

th.sylius-table-column-actions, 
th.sylius-table-column-verified, 
th.sylius-table-column-enabled { text-align: center! important; }

.ui.basic.table tbody tr:hover { background-color: rgba(0, 0, 0, 0.05);}
.ui.table td { padding: 8px !important; height: 53px !important;}

td.centered-nowrap {
    text-align: center!important;
    width: 1px !important;
    white-space: nowrap !important;
}

.ui.table tr td:last-child:not(#promotion-total):not(#shipping-total):not(#total):not(#subtotal) {
    text-align: center!important;
    width: 1px !important;
    white-space: nowrap !important;
}

.ui.buttons div:not(:last-child) {
    padding-right: 0.5rem !important;
}

.ui.buttons a.ui.button:not(:last-child) {
    margin-right: 0.5rem !important;
    border-radius: 0.28571429rem;
}

.ui.labeled.icon.blue.button, 
.ui.large.icon.blue.button, 
.ui.right.floated.blue.button,
.ui.labeled.icon.blue.dropdown.button {
    color: white !important;
    background-color: #2185D0 !important;
}

.card .sylius-product-price-ht {
    font-size: 1em !important;
    margin: 5px 0;
  }

 .card .sylius-product-price-ttc {
    font-size: 1.2em !important;
    margin: 5px 0 5px 10px;
  }

  .card .sylius-product-price-ht,
  .card .sylius-product-price-ttc { display: inline-block; }
  
  .myCheckBox label { margin: 0px !important; }