{% set variant = data.variants.first %}
{% if variant and variant.isTracked %}
    <div class="flex flex-nowrap">
        <div class="ui {{ variant.onHand > 0 ? 'green' : 'red' }} label">
            <span class="onHand">{{ variant.onHand }}</span> {{ variant.onHand > 1 ?'sylius.ui.availables_on_hand'|trans :'sylius.ui.available_on_hand'|trans }}
        </div>
        {% if variant.onHold > 0 %}
            <div class="ui green label">
                <span class="onHold">{{ variant.onHold }}</span> {{ variant.onHold > 1 ?'sylius.ui.reserveds'|trans :'sylius.ui.reserved'|trans }}
            </div>
        {% endif %}
    </div>
{% else %}
    <span class="ui red label">
        <i class="remove icon"></i>
        {{ 'sylius.ui.not_tracked'|trans }}
    </span>
{% endif %}
