{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

{% set path = options.link.url|default(path(options.link.route|default(grid.requestConfiguration.getRouteName('delete')), options.link.parameters|default({'id': data.id}))) %}

{% if data.enabled %}
    {{ buttons.desactivate(path, action.label, true, data.id) }}
{% endif %}

