<div style="max-width: 150px; margin: 0 auto;">
    <img src="{{ asset('build/app/admin/images/Vasse_Mobilier.png' ,'app.admin') }}" alt="logo Vasse Mobilier" class="ui fluid image" id="logo" style="margin-bottom: 2rem !important;"/>
</div>
