{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

{% set path = path('sylius_invoicing_plugin_shop_invoice_download', { 'id': invoice.id }) %}

{{ buttons.default(path, 'sylius_invoicing_plugin.ui.download_invoice'|trans, invoice.id, 'download', 'blue') }}
