<div class="ui segment" id="order-invoices">
    <h3 class="ui dividing header" id="shipping-state">{{ 'sylius_invoicing_plugin.ui.invoices'|trans }}</h3>
    <table class="ui celled compact small table fixed">
        <thead>
        <tr>
            <th>{{ 'sylius.ui.number'|trans }}</th>
            <th>{{ 'sylius_invoicing_plugin.ui.issued_at'|trans }}</th>
            <th>{{ 'sylius.ui.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
            <tr>
                <td>
                    {{ invoice.number }}
                </td>
                <td>
                    {{ invoice.issuedAt|format_date }}
                </td>
                <td>
                    {{ sylius_template_event('sylius_invoicing.shop.order.invoices.list.actions', _context) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<style>
    #order-invoices th:not(:last-child) {
        text-align: left !important;
    }
    #order-invoices th:last-child {
        text-align: center !important;
    }

    #order-invoices td {
        text-align: left !important;
        padding: 1rem 0 1rem .5rem !important;
    }

    #order-invoices td:last-child {
        text-align: center !important;
        width: 1px;
        white-space: nowrap;
    }

    #order-invoices th:nth-child(3) {
        width: auto;
    }

    #order-invoices .ui.buttons {
        display: block;
    }
</style>
