{{ form_row(form.notes, sylius_test_form_attribute('extra-notes')|merge({'rows': 3})) }}
{{ form_row(form.refClient) }}

<div class="field required {% if not form.hasAgreedToCGV.vars.valid %} error{% endif %}" style="padding-top: 1rem;">
    <div class="ui toggle checkbox myCheckBox">
        {{- form_widget(form.hasAgreedToCGV) -}}
        {{- form_label(form.hasAgreedToCGV) -}}
        <div style="display: inline; padding-left: 5px;">
            (<a href="{{ asset('documents/CGV_vassemobilier_30102024.pdf') }}" target="_blank">Consulter les cgv</a>)
        </div>
    </div>
</div>
<div>
    {{- form_errors(form.hasAgreedToCGV) -}}
</div>

