{% import '@SyliusUi/Macro/flags.html.twig' as flags %}

<h1 class="ui header">
    {# <i class="circular cart icon"></i> #}
    <div class="flex align-items-center justify-content-between">
        <div>
            <div class="content">
                {{ 'sylius.ui.summary_of_your_order'|trans }}
                <div class="sub header">
                    <div class="ui horizontal divided list">
                        <div class="item" id="sylius-order-currency-code" {{ sylius_test_html_attribute('order-currency-code') }}>
                            {{ order.currencyCode }}
                        </div>
                        <div class="item" id="sylius-order-locale-name" {{ sylius_test_html_attribute('order-locale-name') }}>
                            {{ flags.fromLocaleCode(sylius.localeCode) }}{{ sylius.localeCode|sylius_locale_name }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="ui large primary fluid icon button" style="margin: 0px !important;">
                <i class="check icon left"></i> {{ 'sylius.ui.place_order'|trans }}
            </button>
        </div>
    </div>
</h1>
