<button type="submit" class="ui large primary fluid icon button" {{ sylius_test_html_attribute('confirmation-button') }}>
    <i class="check icon left"></i> {{ 'sylius.ui.place_order'|trans }}
</button>
