{% set enabled = order.shipments|length %}

<div class="ui two column grid">
    <div class="column">
        <a href="{{ path('sylius_shop_checkout_address') }}" class="ui large primary icon button">
            <i class="arrow left icon"></i> {{ 'sylius.ui.change_address'|trans }}
        </a>
    </div>
    <div class="right aligned column">
        <button type="submit" id="next-step" class="ui large primary icon {% if not enabled %} disabled{% endif %} button" {{ sylius_test_html_attribute('next-step') }}>
            {{ 'sylius.ui.next'|trans }}
            <i class="arrow right icon"></i>
        </button>
    </div>
</div>
