<div class="ui basic segment" style="padding: 0px !important;">
    <div class="ui three column stackable grid" style="padding-top: 1rem;">
        {{ sylius_template_event('sylius.shop.layout.header.grid') }}
    </div>
</div>
