<!DOCTYPE html>

<html lang="{{ app.request.locale|slice(0, 2) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}{{ sylius.channel.name }}{% endblock %}</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

    {% block metatags %}
    {% endblock %}

    {% block stylesheets %}
        {{ sylius_template_event('sylius.shop.layout.stylesheets') }}
    {% endblock %}

    {{ sylius_template_event('sylius.shop.layout.head') }}
</head>

<body class="pushable">
{{ sylius_template_event('sylius.shop.layout.before_body') }}
<div class="pusher" data-route="{{ app.request.get('_route') }}">
    {% block top %}
        <div id="menu" class="top-menu">
            {# <a href="#" class="top-menu__link">{{ 'sylius.top_bar'|trans }}</a> #}
            {# <a href="#" class="top-menu__link"></a> #}

            <a href="{{ ecom_default_uri }}">
                <img src="{{ asset('build/app/shop/images/Vasse_Mobilier.png', 'app.shop') }}" alt="logo Vasse Mobilier" class="vasseLogo"  />
            </a>

            {# <img alt="VASSE Transfert" 
                src="https://www.vassetransfert.fr/wp-content/themes/yootheme/cache/Logo_VASSE-beacb3c1.png" 
                srcset="https://www.vassetransfert.fr/wp-content/themes/yootheme/cache/Logo_VASSE-beacb3c1.png 176w, 
                        https://www.vassetransfert.fr/wp-content/themes/yootheme/cache/Logo_VASSE-7d548cce.png 352w" 
                sizes="(min-width: 176px) 234px"
            > #}

            <div class="top-bar">{{ sylius_template_event('sylius.shop.layout.topbar') }}</div>
        </div>
    {% endblock %}

    <div class="ui container">
        {% block header %}
            <header>
                {{ sylius_template_event('sylius.shop.layout.header') }}
            </header>
        {% endblock %}

        {% include '@SyliusShop/_flashes.html.twig' %}

        {{ sylius_template_event('sylius.shop.layout.before_content') }}

        {% block content %}
        {% endblock %}

        {{ sylius_template_event('sylius.shop.layout.after_content') }}
    </div>

    {% block footer %}
        {% include '@SyliusShop/_footer.html.twig' %}
    {% endblock %}
</div>

{{ sylius_template_event('sylius.shop.layout.vasse_footer') }}

{% block javascripts %}
    {{ sylius_template_event('sylius.shop.layout.javascripts') }}
{% endblock %}

{% include '@SyliusUi/Modal/_confirmation.html.twig' %}
{{ sylius_template_event('sylius.shop.layout.after_body') }}
</body>
</html>
