{% macro default(text) %}
    <span class="ui label">{{ text|trans }}</span>
{% endmacro %}

{% macro status(status) %}
    {% import _self as labels %}

    {% if status %}
        {{ labels.enabled() }}
    {% else %}
        {{ labels.disabled() }}
    {% endif %}
{% endmacro %}

{% macro enabled() %}
    <span class="ui teal label">
        <i class="checkmark icon"></i>
        {{ 'sylius.ui.enabled'|trans }}
    </span>
{% endmacro %}

{% macro disabled() %}
    <span class="ui red label">
        <i class="remove icon"></i>
        {{ 'sylius.ui.disabled'|trans }}
    </span>
{% endmacro %}

{% macro yesNo(value) %}
    {% import _self as labels %}

    {% if value %}
        {{ labels.yes() }}
    {% else %}
        {{ labels.no() }}
    {% endif %}
{% endmacro %}

{% macro yes() %}
    <span class="ui green label">
        <i class="checkmark icon"></i>
        {{ 'sylius.ui.yes_label'|trans }}
    </span>
{% endmacro %}

{% macro no() %}
    <span class="ui red label">
        <i class="remove icon"></i>
        {{ 'sylius.ui.no_label'|trans }}
    </span>
{% endmacro %}
