{# {% form_theme form '@SyliusAdminOrderCreationPlugin/Form/theme.html.twig' %} #}

<div class="ui segment">
    {{ form_start(form, {'action': action, 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}

    {% include '@SyliusAdmin/Crud/form_validation_errors_checker.html.twig' %}

    {% set nb_errors = form.vars.errors | length %}

    <div class="ui styled fluid accordion">
        <div class="title active">
            <i class="dropdown icon"></i> {{ 'sylius.ui.items'|trans }}
            {% if nb_errors > 0 %}
                <span class="ui small horizontal circular label" style="background-color: #DB2828; color: white;">{{ nb_errors }}</span>
            {% endif %}
        </div>
        <div id="items" class="content active">
            {{ form_widget(form.items) }}
            {# {{ form_errors(form) }} #}
            {% for error in form.vars.errors %}
                <div class="ui red pointing label sylius-validation-error" {{ sylius_test_html_attribute('validation-error') }} style="margin-bottom: 10px;">
                    {{ error.message }}
                </div>
            {% endfor %}
        </div>

        <div class="title">
            <i class="dropdown icon"></i> Référence client
        </div>
        <div class="content">
            {{ form_row(form.refClient) }}
        </div>

        {% set nb_errors = 0 %}
        {% for field in form.shippingAddress.children %}
            {% set nb_errors = nb_errors + field.vars.errors | length %}
        {% endfor %}

        <div class="title">
            <i class="dropdown icon"></i> {{ 'sylius.ui.shipping_address'|trans }} &amp; {{ 'sylius.ui.billing_address'|trans }}
            {% if nb_errors > 0 %}
                <span class="ui small horizontal circular label" style="background-color: #DB2828; color: white;">{{ nb_errors }}</span>
            {% endif %}
        </div>
        <div class="content">
            {% include '@SyliusAdminOrderCreationPlugin/Order/Create/_addressBookSelect.html.twig' %}
            <div class="ui horizontal segments">
                <div class="ui segment">{{ form_row(form.shippingAddress) }}</div>
                <div class="ui segment">{{ form_row(form.billingAddress) }}</div>
            </div>
        </div>

        {# <div id="localeTab" class="title">
            <i class="dropdown icon"></i> {{ 'sylius.ui.locale'|trans }} & {{ 'sylius.ui.currency'|trans }}
        </div>
        <div id="locale" class="content">
            <div class="ui horizontal segments">
                <div class="ui segment">{{ form_row(form.localeCode) }}</div>
                <div class="ui segment">{{ form_row(form.currencyCode) }}</div>
            </div>
        </div> #}

        <div id="shipmentsAndPaymentsTab" class="title">
            <i class="dropdown icon"></i> {{ 'sylius.ui.shipments'|trans }} &amp; {{ 'sylius.ui.payments'|trans }}
        </div>
        <div id="shipmentsAndPayments" class="content">
            <div class="ui segments">
                <div class="ui segment">
                    <div class="invalid-data-message">{{ 'sylius_admin_order_creation.ui.shipping_methods_selection_requirement'|trans }}</div>
                    {{ form_row(form.shipments) }}
                </div>
                <div class="ui segment">
                    {{ form_row(form.payments) }}
                </div>
            </div>
        </div>
    </div>

    {# {% include '@SyliusUi/Form/Buttons/_create.html.twig' with {'paths': {'cancel': path('sylius_admin_order_index')}} %} #}

    <div class="ui hidden divider"></div>
    <div class="ui buttons">
        <div>
            <button class="ui labeled icon primary button" type="button" id="order-creation-create-submit">
                <i class="plus icon"></i>{{- 'sylius.ui.create'|trans -}}
            </button>
        </div>
        <div>
            {% include '@SyliusUi/Form/Buttons/_cancel.html.twig' with {'path': sylius_generate_redirect_path(path('sylius_admin_order_index'))} %}
        </div>
    </div>

    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
</div>
