{% extends '@SyliusShop/layout.html.twig' %}

{% block title %}Showroom{% endblock %}

{% block content %}
    <div class="ui very padded center aligned secondary segment m-0 p-4 mt-5" style="background-color: var(--vasse-grey);">
        <div class="ui centered grid">
            <div class="sixteen wide tablet twelve wide computer column">
                <h1 class="ui huge header center aligned">Notre showroom.</h1>
                <div class="">
                    <img src="{{ asset('build/app/shop/images/vasse-showroom.png', 'app.shop') }}" alt="" style="width: 100%;">
                </div>
                <div class="mt-4">
                    <div class="item">455 Rue Georges Bellanger</div>
                    <div class="item">LE VIEIL EVREUX</div>
                    <div class="item">06.46.50.68.70</div>
                    <a href="mailto:mobilier@vassetransfert.fr" class="item">mobilier@vassetransfert.fr</a>
                    <div class="item mt-4">Horaires:</div>
                    <div class="item">9h-12h / 14h-18h (du lundi au jeudi)</div>
                    <div class="item">9h-12h / 14h-17h (vendredi)</div>
                    <div class="item">Fermé le samedi / dimanche</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
