.ui.buttons div:not(:last-child) {
    padding-right: 0.5rem !important;
}

.ui.buttons a.ui.button:not(:last-child) {
    margin-right: 0.5rem !important;
    border-radius: 0.28571429rem;
}

.ui.buttons form .button {
    border-radius: .28571429rem !important;
}

.ui.buttons form:not(:last-child) .button {
    margin-right: 0.5rem !important;
}

div.sylius-grid-nav__pagination,
div.sylius-grid-nav__perpage { margin-top: 1rem !important;}

/* div.admin-layout__content div.ui.styled.fluid.accordion { margin-top: 1rem; } */

form[name='sylius_product_variant'] a[data-tab='taxes'] { display:none !important; }

.sylius-grid-table-wrapper .ui.sortable.table thead th { 
    padding: 16px 8px !important; 
    /* background-color: #fafafa !important; */
}

th.sylius-table-column-actions, 
th.sylius-table-column-verified, 
th.sylius-table-column-enabled { text-align: center! important; }

.ui.basic.table tbody tr:hover { background-color: rgba(0, 0, 0, 0.05);}
.ui.table td { padding: 8px !important; height: 53px !important;}

td.centered-nowrap {
    text-align: center!important;
    width: 1px !important;
    white-space: nowrap !important;
}

td.right-nowrap {
    text-align: right!important;
    width: 1px !important;
    white-space: nowrap !important;
}

td.left-nowrap {
    text-align: left!important;
    width: 1px !important;
    white-space: nowrap !important;
}


th.right-nowrap {
    text-align: right!important;
    white-space: nowrap !important;
}

.ui.table tr td:last-child:not(.line-item-currency-code) {
    text-align: center!important;
    width: 1px !important;
    white-space: nowrap !important;
}

#sylius_shipment_ship_tracking { min-width: 125px !important; }