{% extends '@SyliusShop/layout.html.twig' %}

{% block title %}{{ 'sylius.ui.delivery_and_shipping'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="ui very padded center aligned secondary segment m-0 p-4 mt-5" style="background-color: var(--vasse-grey);">
        <div class="ui centered grid">
            <div class="sixteen wide tablet twelve wide computer column">
                <h1 class="ui huge header center aligned">{{ 'sylius.ui.delivery_and_shipping'|trans }}.</h1>
                <div class="">
                    <h3 style="text-align: left; color: #a51616;">Enlèvement de mobilier par vos soins :</h3>
                    <p>
                        Le retrait se fait dans nos locaux au 392 Rue de Cocherel 27000 EVREUX ou au 455 Rue Georges Bellenger 27930 LE VIEIL EVREUX.
                    </p>
                    <h3 style="text-align: left; color: #a51616;">Livraison :</h3>
                    <p>
                        Notre réseau nous permet de livrer, monter et installer le mobilier sur toute la France.
                    </p>
                    <p>
                        Contactez-nous au 06.46.50.68.70 ou à l'adresse <a href="mailto:mobilier@vassetransfert.fr">mobilier@vassetransfert.fr</a> pour connaitre le tarif.
                    </p>
                    <p style="margin-bottom: 0px;">
                        Informations suivantes à fournir :<br>
                    </p>
                    <p style="margin-left: 1rem;">
                        - Adresse précise<br>
                        - Préciser les accès et contraintes: Passage par ascenseur, monte-charge ou escalier...<br>
                        - Fournir des photos (si possible)
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
