<div id="vasse-footer" class="w-full p-5-5">
    <div class="flex align-items-center">
        <img src="https://vassetransfert.fr/wp-content/uploads/Logo-VASSEtransfert-blanc.svg">
        <div class="flex-grow-1 pl-5">
            <p style="color: #fff;"><strong>VASSE TRANSFERT</strong><br/>
                29 rue Casimir Périer - 95870 BEZONS<br/>
                Tél. : 01 47 24 25 40  |  Fax : 02 32 39 54 51<br/>
                email : <a href="mailto:vt@vassetransfert.fr">vt@vassetransfert.fr</a>
            </p>
        </div>
        <a class="px-3 py-3 footer-contact-button">
            <i class="envelope outline icon"></i>
            <span class="">CONTACT</span>
        </a>
    </div>
</div>
