{% extends '@SyliusAdmin/layout.html.twig' %}

{% import '@SyliusAdmin/Common/Macro/money.html.twig' as money %}

{% block title %}{{ 'sylius.ui.invoice'|trans ~ ' ' ~ invoice.number }} {{ parent() }}{% endblock %}

{% block content %}
    <div class="ui stackable two column grid">
        <div class="ten wide column">
            {% include '@SyliusInvoicingPlugin/Invoice/Show/_header.html.twig' %}
            {% include '@SyliusInvoicingPlugin/Invoice/Show/_breadcrumb.html.twig' %}
        </div>
        <div class="six wide right bottom aligned column">
            <div class="ui right floated buttons">
                {{ sylius_template_event('sylius_invoicing.admin.invoice.buttons', _context) }}
            </div>
        </div>
    </div>

    <div class="ui stackable grid mb-3">
        {# <div class="eight wide column">
            {% include '@SyliusInvoicingPlugin/Invoice/Show/_billingData.html.twig' %}
        </div>
        <div class="eight wide column">
            {% include '@SyliusInvoicingPlugin/Invoice/Show/_shopBillingData.html.twig' %}
        </div> #}
        <div style="padding-right: 14px; flex-basis:50%;">
            {% include '@SyliusInvoicingPlugin/Invoice/Show/_billingData.html.twig' %}
        </div>
        <div style="padding-left: 14px; flex-basis: 50%;">
            {% include '@SyliusInvoicingPlugin/Invoice/Show/_shopBillingData.html.twig' %}
        </div>
    </div>

    {% if invoice.order.refClient %}
        <div class="ui segment">
        <strong>Référence client:</strong> {{ invoice.order.refClient }}
        </div>
    {% endif %}

    <div class="ui stackable segment grid">
        <div class="sixteen wide column">
            <table class="ui celled compact small table">
                <thead>
                <tr>
                    <th Style="text-align: center; white-space: nowrap; width: 1px;">{{ 'sylius_invoicing_plugin.ui.no'|trans }}</th>
                    <th class="sylius-table-column-name">{{ 'sylius.ui.name'|trans }}</th>
                    <th class="sylius-table-column-quantity" style="text-align: right; white-space: nowrap; width: 1px;">{{ 'sylius.ui.quantity'|trans }}</th>
                    <th class="sylius-table-column-unit-net-price" style="text-align: right; white-space: nowrap; width: 1px;">{{ 'sylius_invoicing_plugin.ui.unit_net_price'|trans }}</th>
                    {# <th class="sylius-table-column-discounted-unit-net-price">{{ 'sylius_invoicing_plugin.ui.discounted_unit_net_price'|trans }}</th> #}
                    <th class="sylius-table-column-subtotal" style="text-align: right; white-space: nowrap; width: 1px;">{{ 'sylius_invoicing_plugin.ui.net_value'|trans }}</th>
                    <th class="sylius-table-column-tax-rate" style="text-align: right; white-space: nowrap; width: 1px;">{{ 'sylius_invoicing_plugin.ui.tax_rate'|trans }}</th>
                    <th class="sylius-table-column-tax_total" style="text-align: right;white-space: nowrap; width: 1px;">{{ 'sylius_invoicing_plugin.ui.tax_amount'|trans }}</th>
                    <th class="sylius-table-column-total" style="text-align: right; white-space: nowrap; width: 1px;">{{ 'sylius_invoicing_plugin.ui.gross_value'|trans }}</th>
                    <th class="sylius-table-column-total" style="white-space: nowrap; width: 1px;">{{ 'sylius.ui.currency'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in invoice.lineItems %}
                    <tr>
                        <td class="" style="text-align: center; width: 1px;">
                            {{ loop.index }}
                        </td>
                        <td class="single line line-item-name">
                            {{ item.name }} {% if item.variantName is not null %}({{ item.variantName }}){% endif %}
                        </td>
                        <td class="right aligned line-item-quantity">
                            {{ item.quantity }}
                        </td>
                        <td class="right aligned line-item-unit-net-price">
                            {{ '%0.2f'|format(item.unitPrice/100) }}
                        </td>
                        {# <td class="right aligned line-item-discounted-unit-net-price">
                            {{ '%0.2f'|format(item.discountedUnitNetPrice/100) }}
                        </td> #}
                        <td class="right aligned line-item-subtotal">
                            {{ '%0.2f'|format(item.subtotal/100) }}
                        </td>
                        <td {{ sylius_test_html_attribute('line-item-tax-rate') }} class="right-nowrap">
                            {% if item.taxRate is null %}0%{% else %}{{ item.taxRate }}{% endif %}
                        </td>
                        <td class="right aligned line-item-tax-total">
                            {{ '%0.2f'|format(item.taxTotal/100) }}
                        </td>
                        <td class="right aligned line-item-total right-nowrap">
                            {{ '%0.2f'|format(item.total/100) }}
                        </td>
                        <td class="single line line-item-currency-code left-nowrap">
                            {{ invoice.currencyCode }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="7" class="right aligned">
                        <strong>{{ 'sylius_invoicing_plugin.ui.net_total'|trans }}</strong>:
                    </th>
                    <th id="invoice-subtotal" class="right aligned right-nowrap" {{ sylius_test_html_attribute('invoice-net-total') }}>
                        {{ '%0.2f'|format(invoice.subtotal/100) }}
                    </th>
                    <th id="invoice-net-total-currency-code" class="single line" {{ sylius_test_html_attribute('invoice-net-total-currency-code') }}>
                        {{ invoice.currencyCode }}
                    </th>
                </tr>
                <tr>
                    <th colspan="7" class="right aligned">
                        <strong>{{ 'sylius_invoicing_plugin.ui.taxes_total'|trans([], 'messages', invoice.localeCode) }}</strong>:
                    </th>
                    <th id="invoice-tax-total" class="right aligned right-nowrap" {{ sylius_test_html_attribute('invoice-taxes-total') }}>
                        {{ '%0.2f'|format(invoice.taxesTotal/100) }}
                    </th>
                    <th id="invoice-taxes-total-currency-code" class="single line" {{ sylius_test_html_attribute('invoice-taxes-total-currency-code') }}>
                        {{ invoice.currencyCode }}
                    </th>
                </tr>
                <tr>
                    <th colspan="7" class="right aligned">
                        <strong>{{ 'sylius.ui.total'|trans }}</strong>:
                    </th>
                    <th id="invoice-total" class="right aligned right-nowrap" {{ sylius_test_html_attribute('invoice-total') }}>
                        {{ '%0.2f'|format(invoice.total/100) }}
                    </th>
                    <th id="invoice-total-currency-code" class="single line" {{ sylius_test_html_attribute('invoice-total-currency-code') }}>
                        {{ invoice.currencyCode }}
                    </th>
                </tr>

                {% if invoice.taxItems.count() > 0 %}
                <tr>
                    <th colspan="7" class="right aligned">
                        <strong>{{ 'sylius_invoicing_plugin.ui.tax_rate'|trans }}</strong>
                    </th>
                    <th class="right aligned right-nowrap">
                        <strong>{{ 'sylius_invoicing_plugin.ui.tax_amount'|trans }}</strong>
                    </th>
                    <th class="left aligned">
                        <strong>{{ 'sylius.ui.currency'|trans }}</strong>
                    </th>
                </tr>

                {% for item in invoice.taxItems %}
                <tr class="tax-item" {{ sylius_test_html_attribute('invoice-tax-item') }}>
                    <th colspan="7" class="right aligned">
                        <strong {{ sylius_test_html_attribute('invoice-tax-item-label') }}>{{ item.label }}</strong>:
                    </th>
                    <th class="right aligned tax-item-amount right-nowrap" {{ sylius_test_html_attribute('invoice-tax-item-amount') }}>
                        {{ '%0.2f'|format(item.amount/100) }}
                    </th>
                    <th class="single line" {{ sylius_test_html_attribute('invoice-tax-item-currency-code') }}>
                        {{ invoice.currencyCode }}
                    </th>
                </tr>
                {% endfor %}
                {% endif %}
                </tfoot>
            </table>
        </div>
        <div class="right floated left aligned five wide column">
            <div class="ui segment" style="padding: 1rem;" {{ sylius_test_html_attribute('invoice-is-paid') }}>
                <div style="margin-bottom: 0.5rem;">
                    <strong>Moyen de paiement:</strong>
                    <span>
                        {{ invoice.order.payments.first.method.translations.first.name }}
                    </span>
                </div>

                <div>
                    <strong>{{ 'sylius_invoicing_plugin.ui.payment.paid'|trans }}: </strong>
                    <span>
                    {# {% if invoice.paymentState() is constant('Sylius\\InvoicingPlugin\\Entity\\InvoiceInterface::PAYMENT_STATE_COMPLETED') %} #}
                    {% if invoice.order.paymentState() == 'paid' %}
                        {{ 'sylius_invoicing_plugin.ui.payment.yes'|trans }}
                        {% else %}
                            {{ 'sylius_invoicing_plugin.ui.payment.no'|trans }}
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
