<div class="ui segment">
    <h4 class="ui dividing header">{{ 'app.form.customer.deferred_payment'|trans }}</h4>
        {{ form_errors(form) }}
        {# <div class="field">
            {{ form_row(form.allowedDeferredPayment) }}
        </div> #}
        <div class="field">
            {{ form_row(form.deferredPaymentDays) }}
        </div>
</div>
