{% form_theme form '@SyliusUi/Form/imagesTheme.html.twig' %}

<div class="ui hidden divider"></div>
<h4 class="ui top attached large header">{{ 'app.form.channel.banner_title'|trans }}</h4>
<div class="ui attached segment">
    {{ form_errors(form) }}
    <div class="field">
        {{ form_row(form.bannerContent) }}
    </div>
    <div class="field">
        {{ form_row(form.bannerLink) }}
    </div>
    <div class="field">
        {{ form_row(form.bannerLinkText) }}
    </div>

    <div class="field" id="add-channel-image">
        <label class="">Image</label>
        {{ form_row(form.image, {'label': false}) }}
    </div>
</div>
