{% extends '@SyliusUi/Layout/centered.html.twig' %}

{% block title %}{{ 'sylius.ui.administration_panel_login'|trans }}{% endblock %}

{% block stylesheets %}
    {{ sylius_template_event('sylius.admin.layout.stylesheets') }}
{% endblock %}

{% block content %}
    {{ sylius_template_event('sylius.admin.login.content', _context) }}
{% endblock %}

{% block javascripts %}
    {{ sylius_template_event('sylius.admin.layout.javascripts') }}
{% endblock %}
