{% if order is defined and order.payments.first.method.code == 'virement' and order.channel.bankInfos %}
    {% set bankInfos = order.channel.bankInfos %}
    <div style="background: #fff; padding: 40px 30px; margin-top: 20px;">
        <strong>Coordonnées bancaires</strong></br>
        <table style="width: 100%;">
            <thead>
                <tr>
                    <th></th>
                    <th style="text-align: left; vertical-align: middle; padding: 0px 5px;">Banque</th>
                    <th style="text-align: left; vertical-align: middle; padding: 0px 5px;">Guichet</th>
                    <th style="text-align: left; vertical-align: middle; padding: 0px 5px;">N° de compte</th>
                    <th style="text-align: left; vertical-align: middle; padding: 0px 5px;">Clé</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="font-weight: bold; padding-right: 10px;">RIB FRANCE</td>
                    <td style="padding: 2px 5px;">{{ bankInfos.ribBanque }}</td>
                    <td style="padding: 2px 5px;">{{ bankInfos.ribGuichet }}</td>
                    <td style="padding: 2px 5px;">{{ bankInfos.ribCompte }}</td>
                    <td style="padding: 2px 5px;">{{ bankInfos.ribCle }}</td>
                </tr>
                <tr>
                    <td style="font-weight: bold; padding-right: 10px;">IBAN ETRANGER</td>
                    <td style="padding: 2px 5px;" colspan="4">{{ bankInfos.IBANEtranger }}</td>
                </tr>
                <tr>
                    <td style="font-weight: bold; padding-right: 10px;">BIC</td>
                    <td style="padding: 2px 5px;" colspan="4">{{ bankInfos.BIC }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endif %}
