{% if order is defined and order.shipments.first.method.code == 'enlevement' and order.channel.pickUpSite %}
    <div style="background: #fff; padding: 40px 30px; margin-top: 20px;">
        <strong>Site d'enlèvement</strong><br>
        {{ order.channel.pickUpSite.company }} <br>
        {{ order.channel.pickUpSite.address1 }} <br>
        {% if order.channel.pickUpSite.address2 %}
            {{ order.channel.pickUpSite.address2 }} <br>
        {% endif %}
        {{ order.channel.pickUpSite.zipCode }} {{ order.channel.pickUpSite.town }}<br>
        {% if order.channel.pickUpSite.telephone %}
            {{ order.channel.pickUpSite.telephone }}
        {% endif %}
    </div>
{% endif %}
