<div class="ui segment mt-4">
    <div class="ui toggle checkbox">
        {{ form_row(form.isDeferred) }}
        {# {{ form_label(form.isDeferred) }}
        {{ form_widget(form.isDeferred) }} #}
    </div>
</div>