<div class="ui segment">
    <div class="ui dividing header">{{ 'sylius.ui.payment'|trans }} #{{ loop.index }}</div>
    <div class="ui fluid stackable items">
        {{ form_errors(form.method) }}
        {% for key, choice_form in form.method %}
            {# {% if ((sylius.customer and sylius.customer.isVasseAdmin) or form.method.vars.choices[key].data.code != 'cash_on_delivery') %} #}
            {% if (form.method.vars.choices[key].data.code != 'cash_on_delivery') %}
                {% include '@SyliusShop/Checkout/SelectPayment/_choice.html.twig' with {'form': choice_form, 'method': form.method.vars.choices[key].data} %}
            {% endif %}
        {% else %}
            {% include '@SyliusShop/Checkout/SelectPayment/_unavailable.html.twig' %}
        {% endfor %}
    </div>
</div>

{% if sylius.customer and sylius.customer.allowedDeferredPayment %}
    {% include '@SyliusShop/Checkout/SelectPayment/_isDeferred.html.twig' with {'form': form} %}
{% endif %}
