.p-5-5 { padding: 2.5rem !important; }

.pl-2 { padding-left: 0.5rem !important; }
.pl-5 { padding-left: 2rem !important; }

.pr-2 { padding-right: 0.5rem !important; }

.px-2 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}
.px-3 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.m-0 { margin: 0rem !important; }

.ml-0 { margin-left: 0rem !important; }

.mb-2 { margin-bottom: 0.5rem !important; }
.mb-3 { margin-bottom: 1rem !important; }
.mb-5 { margin-bottom: 2rem !important; }

.mt-3 { margin-top: 1rem !important; }
.mt-4 { margin-top: 1.5rem !important; }
.mt-5 { margin-top: 2rem !important; }

.p-2 { padding: 0.5rem !important; }
.p-4 { padding: 1.5rem !important; }
.p-6 { padding: 3rem !important; }

.flex { display: flex !important; }

.align-items-center { align-items: center !important; }
  
.justify-content-between { justify-content: space-between !important; }

.justify-content-around { justify-content: space-around !important; }
  
.flex-grow-1 { flex-grow: 1 !important; }

.flex-nowrap { flex-wrap: nowrap !important; }
