{% block body %}
    {% autoescape false %}
        {% set logo = absolute_url(asset('build/app/shop/images/Vasse_Mobilier.png', 'app.shop')) %}

        <div style="font-family: sans-serif; background: #eee; padding-top: 30px; padding-bottom: 30px; font-size: 16px; color: #333; line-height: 1.5">
            <div style="max-width: 600px; margin: 20px auto;">
                <div style="margin-bottom: 30px; text-align: center;">
                    {% if sylius_bundle_loaded_checker('SyliusShopBundle') %}
                        {# {% set url = sylius_channel_url(path('sylius_shop_homepage', {'_locale': localeCode}), channel) %} #}
                        {% set url = channel.hostname %}
                        <a href="{{ url|raw }}">
                            <img src="{{ logo }}" alt="Vasse Mobilier" style="width: 170px">
                        </a>
                    {% else %}
                        <img src="{{ logo }}" alt="Vasse Mobilier" style="width: 170px">
                    {% endif %}
                </div>

                <div style="background: #fff; padding: 40px 30px;">
                    {% block content %}{% endblock %}
                </div>

                {% include '@SyliusCore/Email/Blocks/OrderConfirmation/_bankInfos.html.twig' %}

                {% include '@SyliusCore/Email/Blocks/OrderConfirmation/_pickUpSite.html.twig' %}

                <div style="text-align: center; padding: 20px 0;">
                    <a href="{{ ecom_base_url }}" target="_blank" style="color: #1abb9c; text-decoration: none;">Vasse Mobilier</a>
                </div>
            </div>
        </div>
    {% endautoescape %}
{% endblock %}
