{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

{% set path = path('sylius_invoicing_plugin_admin_invoice_resend', {'id': invoice.id}) %}

{{ buttons.default(path, 'sylius_invoicing_plugin.ui.resend_invoice'|trans, invoice.id, 'send', 'blue') }}
