{% include '@SyliusAdmin/Product/Show/_header.html.twig' %}

<div class="ui grid">
    <div class="sixteen wide mobile ten wide computer column">
        {{ sylius_template_event('sylius.admin.simple_product.show.details', _context) }}
        {# <div class="ui hidden divider"></div>
        {{ sylius_template_event('app.admin.simple_product.show.stock', _context) }} #}
        <div class="ui hidden divider"></div>
        {{ sylius_template_event('sylius.admin.simple_product.show.taxonomy', _context) }}
    </div>
    <div class="sixteen wide mobile six wide computer column">
        {{ sylius_template_event('sylius.admin.simple_product.show.pricing', _context) }}
        <div class="ui hidden divider"></div>
        {{ sylius_template_event('sylius.admin.simple_product.show.shipping', _context) }}
    </div>
</div>
<div class="ui hidden divider"></div>
{{ sylius_template_event('sylius.admin.simple_product.show.media', _context) }}

<div class="ui hidden divider"></div>
{{ sylius_template_event('sylius.admin.simple_product.show.more_details', _context) }}

<div class="ui hidden divider"></div>
<div class="ui grid">
    <div class="sixteen wide mobile ten wide computer column">
        {{ sylius_template_event('sylius.admin.simple_product.show.attributes', _context) }}
    </div>
    <div class="sixteen wide mobile six wide computer column">
        {{ sylius_template_event('sylius.admin.simple_product.show.associations', _context) }}
    </div>
</div>
