<div class="ui two column grid">
    <div class="column">
        <a href="{{ path('sylius_shop_homepage') }}" class="ui large primary icon button">
            <i class="arrow left icon"></i>{{ 'sylius.ui.back_to_store'|trans }}
        </a>
    </div>
    <div class="right aligned column">
        <button type="submit" id="next-step" class="ui large primary icon button" {{ sylius_test_html_attribute('next-step') }}>
            {{ 'sylius.ui.next'|trans }}<i class="arrow right icon"></i>
        </button>
    </div>
</div>
