<tr>
    <th class="sylius-table-column-item">{{ 'sylius.ui.item'|trans }}</th>
    <th class="sylius-table-column-price" style="width: 1px; white-space: nowrap;">{{ 'sylius.ui.unit_price'|trans }}</th>
    <th class="sylius-table-column-qty" style="width: 1px; white-space: nowrap;">Quantité</th>
    <th class="sylius-table-column-subtotal" style="width: 1px; white-space: nowrap;">{{ 'sylius.ui.subtotal'|trans }}</th>
</tr>
