{% set product = variant.product %}

<div class="ui header" style="margin-bottom: 0em !important;">
    <div class="content">
        {# <a href="{{ path('sylius_shop_product_show', {'slug': product.slug}) }}"> #}
            <div class="sylius-product-name" {{ sylius_test_html_attribute('product-name', item.productName) }}>{{ item.productName }}</div>
        {# </a> #}
    </div>
</div>
