{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% set itemsSubtotal = sylius_order_items_subtotal(order) %}
{% set taxIncluded = order.getTaxIncludedTotal() %}
{% set taxExcluded = order.getTaxExcludedTotal() %}

{% set orderPromotionAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::ORDER_PROMOTION_ADJUSTMENT') %}
{% set orderPromotions = sylius_aggregate_adjustments(order.adjustmentsRecursively(orderPromotionAdjustment)) %}

<tr>
    <th colspan="3" class="right aligned">
        {{ 'sylius.ui.items_total'|trans }}:
    </th>
    <th class="right aligned" id="subtotal" style="padding-right: 8px; !important" {{ sylius_test_html_attribute('subtotal') }}>
        {{ money.convertAndFormat(itemsSubtotal) }}
    </th>
</tr>
<tr{% if taxIncluded and not taxExcluded %} class="tax-disabled"{% endif %}>
    <td colspan="3" class="right aligned" id="tax-total">
        {{ 'sylius.ui.taxes_total'|trans }}:
    </td>
    <td class="right aligned" id="tax-total">
        <div style="display: flex; justify-content: flex-end; align-items: center">
            {% if not taxIncluded and not taxExcluded %}
                <div id="sylius-cart-tax-none">{{ money.convertAndFormat(0) }}</div>
            {% endif %}
            {% if taxExcluded %}
                <div id="sylius-cart-tax-excluded">{{ money.convertAndFormat(taxExcluded) }}</div>
            {% endif %}
            {% if taxIncluded %}
                <div class="tax-disabled">
                    <small>({{ 'sylius.ui.included_in_price'|trans }})</small>
                    <span id="sylius-cart-tax-included">{{ money.convertAndFormat(taxIncluded) }}</span>
                </div>
            {% endif %}
            </div>
        </div>
    </td>
</tr>
<tr>
    <td colspan="3" id="promotion-total" class="right aligned" {{ sylius_test_html_attribute('promotion-total') }}>
        {{ 'sylius.ui.discount'|trans }}:
    </td>
    <td id="promotion-total" class="right aligned" {{ sylius_test_html_attribute('promotion-total') }}>
        {{ money.convertAndFormat(order.orderPromotionTotal)  }}
        {% if order.orderPromotionTotal != 0 %}
            <i
                id="order-promotions-details" class="question circle icon popup-js"
                {{ sylius_test_html_attribute('order-promotions-details') }}
                data-html="{% for key, value in orderPromotions %}<div>{{ key }}: {{ money.convertAndFormat(value) }}</div>{% endfor %}"
            >
            </i>
        {% endif %}
    </td>
</tr>
<tr>
    {% include '@SyliusShop/Order/Table/_shipping.html.twig' with {'order': order} %}
</tr>
<tr>
    <td colspan="3" class="right aligned" style="font-size: 1.5em;">
        {{ 'sylius.ui.total'|trans }}:
    </td>
    <td class="right aligned" style="font-size: 1.5em;" id="total" {{ sylius_test_html_attribute('order-total') }}>
        {{ money.convertAndFormat(order.total) }}
    </td>
</tr>
