{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

{% set path = path(options.link.route, options.link.parameters) %}

{{ buttons.default(path, action.label, data.id, action.icon, 'blue') }}
