<div class="column">
    <h3 class="ui top attached header" style="margin-bottom: 5px;">{{ 'sylius.ui.inventory'|trans }}</h3>
    {# <div id="sylius_product_stock">
        {{ form_errors(form.variant.channelStocks) }}
        <div class="ui top attached tabular menu">
            {% for channelCode, stock in form.variant.channelStocks %}
                {% if loop.index0 == 0 %}
                    <a class="item active" data-tab="{{ channelCode }}-stock">{{ stock.vars.label }}</a>
                {% else %}
                    <a class="item" data-tab="{{ channelCode }}-stock">{{ stock.vars.label }}</a>
                {% endif %}
            {% endfor %}
        </div>
        {% for channelCode, stock in form.variant.channelStocks %}
            <div class="ui bottom attached {% if loop.index0 == 0 %}active{% endif %} tab segment" data-tab="{{ channelCode }}-stock">
                {% if channelCode not in product.channels|map(channel => channel.code) %}
                    <div class="ui info message">
                        {{ 'sylius.ui.product.product_not_active_in_channel'|trans }}
                    </div>
                {% endif %}

                {{ form_row(stock.version) }}
                {{ form_row(stock.onHand) }}
                {{ form_row(stock.onHold) }}
            </div>
        {% endfor %}
    </div> #}

    <div class="ui attached segment">
        {% if product.simple %}
            {{ form_row(form.variant.onHand) }}
            {{ form_row(form.variant.onHold) }}
            {{ form_row(form.variant.version) }}
        {% endif %}
    </div>


</div>

{{ sylius_template_event(['sylius.admin.product.' ~ action ~ '.tab_inventory', 'sylius.admin.product.tab_inventory'], {'form': form}) }}
