{% extends '@SyliusAdmin/layout.html.twig' %}

{% block title %}{{ 'sylius.ui.new_order'|trans }} {{ parent() }}{% endblock %}

{% form_theme form '@SyliusAdminOrderCreationPlugin/Order/itemCollectionTheme.html.twig' %}

{% if order is defined %}
    {% set customer_id = order.customer.id %}
    {% set channel_code = order.channel.code %}
{% else %}
    {% set customer_id = app.request.attributes.get('customerId') %}
    {% set channel_code = app.request.attributes.get('channelCode') %}
{% endif %}

{% block content %}
    <div class="ui stackable two column grid">
        <div class="column">
            <h1 class="ui header">
                <i class="circular plus icon"></i>
                <div class="content">{{ 'sylius.ui.new_order'|trans }}</div>
            </h1>
            {% include '@SyliusAdminOrderCreationPlugin/Order/Create/_breadcrumb.html.twig' %}
        </div>
    </div>
    {# {% include '@SyliusAdminOrderCreationPlugin/Order/Create/_form.html.twig' with {
        'method': 'GET',
        'action': path('sylius_admin_order_creation_order_create', 
        {'customerId': customer_id, 'channelCode': channel_code})
    } %} #}
    {% include '@SyliusAdminOrderCreationPlugin/Order/Create/_form.html.twig' with {
        'method': 'GET',
        'action': path('sylius_admin_order_creation_order_create', 
        {'customerId': customer_id, 'channelCode': channel_code})
    } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        $(document).ready(function() {
            $('body').on('DOMNodeInserted', '#sylius_admin_order_creation_new_order_payments [data-form-collection="item"]', function() {
                $('#sylius_admin_order_creation_new_order_payments [data-form-collection="add"]').hide();
            });

            $('body').on('DOMNodeRemoved', '#sylius_admin_order_creation_new_order_payments [data-form-collection="item"]', function() {
                $('#sylius_admin_order_creation_new_order_payments [data-form-collection="add"]').show();
            });

            $('#sylius_admin_order_creation_new_order_shipments [data-form-collection="add"]').on('click', function(e) {
                if (!canShippingMethodBeProvided()) {
                    e.stopPropagation();
                    return;
                }

                loadAvailableShippingMethods();
            });

            $('#shipmentsAndPaymentsTab').on('click', function(e) {
                if (canShippingMethodBeProvided()) {
                    $('#shipmentsAndPayments').find('.invalid-data-message').hide();
                } else {
                    $('#shipmentsAndPayments').find('.invalid-data-message').show();
                }

                if ($('#shipmentsAndPayments select').length != 0) {
                    loadAvailableShippingMethods();
                }
            });

            $('[data-form-collection="item"] .sylius-autocomplete.dropdown').each(function() {
                $(this).dropdown('set text', $(this).find('input[type="hidden"]').val());
            });

            function loadAvailableShippingMethods() {
                if (!canShippingMethodBeProvided()) {
                    return;
                }

                let form = $('form');
                form.addClass('loading');

                Routing.setScheme(location.protocol.replace(':', ''));

                $.ajax({
                    type: "GET",
                    url: Routing.generate(
                        'sylius_admin_order_creation_ajax_provide_available_shipping_methods',
                        { 'customerId': '{{ customer_id }}', 'channelCode': '{{ channel_code }}', 'shipmentNumber': '0' },
                        true
                    ),
                    data: form.serializeArray(),
                    dataType: "json",
                    accept: "application/json",
                    success: function(data) {
                        let lastShipment = $('#sylius_admin_order_creation_new_order_shipments [data-form-collection="list"]').find('[data-form-collection="item"]:last-child');
                        let selectBody = '';

                        $.each(data, function(key, value) {
                            selectBody += '<option value="'+key+'">'+value+'</option>';
                        });

                        lastShipment.find('select').html(selectBody);
                        form.removeClass('loading');
                    }
                });
            }

            function canShippingMethodBeProvided() {
                return $('#sylius_admin_order_creation_new_order_items [data-form-collection="item"]').length > 0 &&
                    $('#sylius_admin_order_creation_new_order_shippingAddress_countryCode').val() !== '' &&
                    $('#sylius_admin_order_creation_new_order_localeCode').val() !== ''
                ;
            }

            $('#order-creation-create-submit').on('click', function(e) 
            {
                e.preventDefault();
                let form = $(this).parents('form');

                $('[data-form-collection="item"] .sylius-autocomplete.dropdown').each(function() {
                    let item = $(this);
                    if (item.find('input[type="hidden"]').val() == '') {
                        item.closest('[data-form-collection="item"]').remove();
                    }
                });

                form.addClass('loading');
                form.submit();
            });

            const parseKey = function parseKey(key) {
                return key.replace(/(_\w)/g, words => words[1].toUpperCase());
            };

            const findByName = function findByName(name) {
                return $('#sylius_admin_order_creation_new_order_shippingAddress').find(`[name*="[${parseKey(name)}]"]`);
            };

            $('.address-book-select').dropdown({
                onChange(name, text, choice) {
                    Object.entries(choice.data()).forEach(([property, value]) => {
                        const field = findByName(property);
                        field.val(value);
                    });
                }
            });

        });
    </script>
{% endblock %}
