{% extends '@SyliusAdmin/layout.html.twig' %}

{% form_theme selectCustomerForm '@SyliusAdminOrderCreationPlugin/Order/selectCustomerTheme.html.twig' %}
{% form_theme createCustomerForm '@SyliusAdmin/Form/theme.html.twig' %}

{% block pre_content %}
    <h2 class="ui header">
        <i class="circular cart plus icon"></i>
        <div class="content">
            {{ 'sylius.ui.new_order'|trans }}
            <div class="sub header">{{ 'sylius_admin_order_creation.ui.customer_selection'|trans }}</div>
        </div>
    </h2>
{% endblock %}

{% block content %}
    <div class="ui center aligned segment">
        <h4 class="ui dividing header left aligned">Client existant</h4>
        {{ form_start(selectCustomerForm, {'action': path('sylius_admin_order_creation_select_order_customer'), 'method': 'GET', 'attr': {'class': 'ui loadable form'}})}}
        {{ form_row(selectCustomerForm.customer, {'placeholder': 'Sélectionnez l\'email d\'un client existant'}) }} <br />
        {{ form_row(selectCustomerForm.channel, {'attr': {'class': 'ui fluid selection dropdown'}}) }} <br />
        <button class="ui blue submit button" id="order_select_customer_submit">{{ 'sylius.ui.next'|trans }}</button>
        {{ form_end(selectCustomerForm) }}
    </div>

    <div class="ui horizontal divider">
            {{ 'sylius.ui.or'|trans }}
    </div>

    <div class="ui center aligned segment">
        <h4 class="ui dividing header left aligned">Nouveau client</h4>
        {{ form_start(createCustomerForm, {'action': path('sylius_admin_order_creation_select_order_customer'), 'method': 'GET', 'attr': {'class': 'ui loadable form'}})}}
        <div class="ui input fluid">
            {{ form_widget(createCustomerForm.customerEmail, {'attr': {'placeholder': 'sylius_admin_order_creation.ui.new_customer_email'|trans}}) }}
        </div> 
        {{ form_errors(createCustomerForm.customerEmail) }}
        <br /><br />
        {{ form_row(createCustomerForm.channel, {'attr': {'class': 'ui fluid selection dropdown'}}) }} <br />
        <button class="ui blue button" id="order_create_new_customer_submit">
           {{ 'sylius.ui.next'|trans }}
        </button> <br />
        {{ form_end(createCustomerForm) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        $(document).ready(function() {
            function addErrorMessage(element, message){
                element.after(`<div class="ui red pointing label sylius-validation-error">${message}</div>`);
            }

            $('#order_select_customer_submit').on('click', function(e) 
            {
                e.preventDefault();

                let form = $(this).parents('form');
                let $customer = form.find('[name*="[customer]"]');
                let customerEmail = $customer.val();

                if (customerEmail) {
                    form.addClass('loading');
                    form.submit();
                } else {
                    if (form.find('.sylius-validation-error').length === 0) {
                        addErrorMessage($customer.parent(), "{{ 'sylius_admin_order_creation.ui.no_customer_selected'|trans }}");
                    }
                }
            });

            $('#order_create_new_customer_submit').on('click', function(e) 
            {
                e.preventDefault();

                let form = $(this).parents('form');

                let $customerEmailInput = form.find('[name*="[customerEmail]"]');
                let customerEmail = $customerEmailInput.val();
                let channelCode = form.find('[name*="[channel]"]').val();

                if (customerEmail) {
                    form.addClass('loading');
                    form.submit();
                } else {
                    if (form.find('.sylius-validation-error').length === 0) {
                        addErrorMessage($customerEmailInput.parent(), "{{ 'sylius_admin_order_creation.ui.customer_email'|trans }}");
                    }
                }
            });
        });
    </script>
{% endblock %}
