{% set product = order_item.variant.product %}

{# {% set qtyDispo = order_item.variant.channelStocks[sylius.channel.code].onHand - order_item.variant.channelStocks[sylius.channel.code].onHold %} #}
{% set qtyDispo = order_item.variant.onHand - order_item.variant.onHold %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

<div class="ui segment" id="sylius-product-selecting-variant" {{ sylius_test_html_attribute('product-selecting-variant') }}>
    {{ sylius_template_event('sylius.shop.product.show.before_add_to_cart', {'product': product, 'order_item': order_item}) }}

    {{ form_start(form, {'action': path('sylius_shop_ajax_cart_add_item', {'productId': product.id}), 'attr': {'id': 'sylius-product-adding-to-cart', 'class': 'ui loadable form', 'novalidate': 'novalidate', 'autocomplete': 'off', 'data-redirect': path(configuration.getRedirectRoute('summary'))}}) }}
    {{ form_errors(form) }}
    <div class="ui red label bottom pointing hidden sylius-validation-error" id="sylius-cart-validation-error" {{ sylius_test_html_attribute('cart-validation-error') }}></div>
    {% if not product.simple %}
        {% if product.variantSelectionMethodChoice %}
            {% include '@SyliusShop/Product/Show/_variants.html.twig' %}
        {% else %}
            {% include '@SyliusShop/Product/Show/_options.html.twig' %}
        {% endif %}
    {% endif %}

    <div class="required field">
        {{ form_label(form.cartItem.quantity) }} (Quantité disponible: {{ qtyDispo }})
        {{ form_widget(form.cartItem.quantity, {'attr': { 'max' : qtyDispo }} ) }}
    </div>

    {# {{ form_row(form.cartItem.quantity, sylius_test_form_attribute('quantity')) }} #}

    {{ sylius_template_event('sylius.shop.product.show.add_to_cart_form', {'product': product, 'order_item': order_item, 'form': form}) }}

    <button type="submit" class="ui large primary icon button" {{ sylius_test_html_attribute('add-to-cart-button') }}>
        <i class="cart icon left"></i> {{ 'sylius.ui.add_to_cart'|trans }}
    </button>

    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
</div>
