<div class="ui small negative icon message" id="sylius-product-out-of-stock"  {{ sylius_test_html_attribute('product-out-of-stock') }}>
    <i class="remove icon" style="margin-left: 5px !important;"></i>
    <div class="content">
        {{ 'sylius.ui.out_of_stock'|trans }}
    </div>
</div>
