{% set state = order.shippingState %}

{% if state != 'cart' %}
    {% include "@SyliusShop/Common/Order/Label/ShipmentState/orderShipmentState.html.twig" %}
{% endif %}

{% for shipment in order.shipments %}
    {% set state = shipment.state %}
    <div class="ui small icon message">
        <i class="truck icon"></i>
        <div class="content">
            <div class="header" id="sylius-shipping-method" {{ sylius_test_html_attribute('shipping-method') }}>
                {{ shipment.method }}
            </div>
        </div>
    </div>
{% endfor %}
