<table class="ui celled table" id="sylius-order" {{ sylius_test_html_attribute('order-table') }}>
    <thead>
        {% include '@SyliusShop/Order/Table/_headers.html.twig' %}
    </thead>
    <tbody>
        {% include '@SyliusShop/Order/Table/_items.html.twig' %}
    </tbody>
    <tfoot>
        {% include '@SyliusShop/Order/Table/_totals.html.twig' %}
    </tfoot>
</table>
