{% extends '@SyliusShop/layout.html.twig' %}

{% import '@SyliusUi/Macro/messages.html.twig' as messages %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block title %}{{ 'sylius.ui.summary_of_your_order'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="ui segment">
        {% include '@SyliusShop/Order/_summary.html.twig' %}
        {% if order.paymentState in ['awaiting_payment', 'deferred_payment'] %}
            {{ form_start(form, {'action': path('sylius_shop_order_show', {'tokenValue': order.tokenValue}), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
            <input type="hidden" name="_method" value="PUT" />

            {% include '@SyliusShop/Checkout/SelectPayment/_form.html.twig' %}
            {# <div class="ui hidden divider"></div> #}
            {% set order_cannot_be_paid = not sylius_order_can_be_paid(order) %}
            <button 
                type="submit" 
                class="ui large blue icon button {% if order_cannot_be_paid %}disabled{% endif %}"
                id="sylius-pay-link" {{ sylius_test_html_attribute('pay-link') }} 
                {% if order_cannot_be_paid %}disabled{% endif %}
                style="margin-top: 1rem !important;"
            >
                <i class="check icon left"></i> {{ 'sylius.ui.pay'|trans }}
            </button>

            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        {% else %}
            {{ messages.info('sylius.ui.you_can_no_longer_change_payment_method_of_this_order') }}
        {% endif %}
    </div>
{% endblock %}
