{% extends '@SyliusShop/layout.html.twig' %}

{% block title %}{{ 'sylius.homepage.about_us'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="ui very padded center aligned secondary segment m-0 p-4 mt-5" style="background-color: var(--vasse-grey);">
        <div class="ui centered grid">
            <div class="sixteen wide tablet twelve wide computer column">
                <h1 class="ui huge header center aligned">{{ 'sylius.homepage.about_us'|trans }}</h1>
                <div class="">
                    <h3 style="text-align: left; color: #a51616;">Une seconde vie aux meubles de bureau.</h3>
                    <p>
                        Vasse Mobilier exerce depuis 2017 dans la vente de mobilier d’occasion mettant en avant une démarche éco-responsable pour le réemploi de mobilier.
                    </p>
                    <p>
                        Parmi les mobiliers proposés à la vente, il est envisageable de faire son choix entre une large gamme de plans de travail, 
                        rangements, assises, accessoires, bureaux, chaises, armoires, tableaux blancs, corbeilles à papier, canapés, paravents ...
                    </p>
                    <p>
                        À destination des particuliers, professionnels et collectivités, il est désormais possible de s'équiper en mobilier de qualité et ce, 
                        à moindre coût, tout en respectant une démarche éco-responsable.
                    </p>
                    <p>
                        Dotés d'une surface de 1 500m2, nous proposons un espace showroom ouvert au public afin de présenter un échantillon de chaque mobilier présent dans notre stock.
                    </p>
                    <p>
                        Nous possédons également des séries en grand nombre permettant d’équiper de la même manière tous les collaborateurs d’une entreprise.                
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
