<div class="ui segment">
    <h4 class="ui dividing header">{{ 'app.form.pick_up_sites.header'|trans }}</h4>
    {{ form_errors(form) }}
    {{ form_row(form.company) }}
    {{ form_row(form.address1) }}
    {{ form_row(form.address2) }}
    {{ form_row(form.zipCode) }}
    {{ form_row(form.town) }}
    {{ form_row(form.telephone) }}
</div>
