{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

{% set path = options.link.url|default(path(options.link.route)) %}

{{ buttons.bulkTransfert(path, action.label, null, 'tranfert', 'orange') }}