<div class="aligned column flex justify-content-between align-items-center" style="width: 100% !important;">
    {% include('@SyliusShop/Layout/Header/_return_button.html.twig') %}

    {{ render(url('sylius_shop_partial_cart_summary', {'template': '@SyliusShop/Cart/_widget.html.twig'})) }}
</div>
