<div class="column">
    {# <a href="{{ path('sylius_shop_homepage') }}">
        {% if use_webpack %}
            <img src="{{ asset('build/shop/images/logo_7cinq.png', 'app.shop') }}" alt="7cinq logo" class="ui small image"  />
        {% else %}
            <img src="{{ asset('assets/shop/img/logo_7cinq.png') }}" alt="7cinq logo" class="ui small image" />
        {% endif %}
    </a> #}
    <a href="https://www.vassetransfert.fr">
        <img src="{{ asset('build/app/shop/images/Vasse_Mobilier.png', 'app.shop') }}" alt="logo Vasse Mobilier" class="ui small image"  />
        {# <img alt="VASSE Transfert" 
            src="https://www.vassetransfert.fr/wp-content/themes/yootheme/cache/Logo_VASSE-beacb3c1.png" 
            srcset="https://www.vassetransfert.fr/wp-content/themes/yootheme/cache/Logo_VASSE-beacb3c1.png 176w, 
                    https://www.vassetransfert.fr/wp-content/themes/yootheme/cache/Logo_VASSE-7d548cce.png 352w" 
            sizes="(min-width: 176px) 234px"
        > #}
        {# <img alt="VASSE Transfert" 
            src="https://www.vassetransfert.fr/wp-content/themes/yootheme/cache/Logo_VASSE-7d548cce.png" 
            srcset="https://www.vassetransfert.fr/wp-content/themes/yootheme/cache/Logo_VASSE-beacb3c1.png 176w, 
                    https://www.vassetransfert.fr/wp-content/themes/yootheme/cache/Logo_VASSE-7d548cce.png 352w" 
            sizes="(min-width: 176px) 176px"
        > #}
    </a>
</div>
