    <div class="flex-grow-1">
        {% if sylius.channel.main == false %}
            <a href="{{ path('sylius_shop_default') }}" class="ui large primary icon button">
                <i class="arrow left icon"></i> Boutique Vasse Mobilier
            </a>
        {% endif %}
    </div>
