{% block subject %}
    {{ 'sylius_invoicing_plugin.email.invoice_generated.subject'|trans({}, null, _context.sylius_base_locale) }}#{{ invoice.order.number }}
{% endblock %}

<br/><br/>

{% block body %}
    {% autoescape %}
        <div style="font-family: sans-serif; background: #eee; padding-top: 30px; padding-bottom: 30px; font-size: 16px; color: #333; line-height: 1.5">
            <div style="max-width: 600px; margin: 20px auto;">

                <div style="background: #fff; padding: 40px 30px;">
                    <div style="text-align: center; margin-bottom: 30px;">
                        {{ 'sylius_invoicing_plugin.email.invoice_generated.body.find_your_invoice'|trans({}, null, _context.sylius_base_locale) }}
                        #{{ invoice.number }}
                        {{ 'sylius_invoicing_plugin.email.invoice_generated.body.order_number'|trans({}, null, _context.sylius_base_locale) }}
                        #{{ invoice.order.number }}.
                    </div>

                     <div style="text-align: center;">
                        {{ 'sylius.email.order_confirmation.thank_you'|trans({}, null, _context.sylius_base_locale) }}
                    </div>
                </div>

                <div style="text-align: center; padding: 20px 0;">
                    <a href="{{ ecom_base_url }}" target="_blank" style="color: #1abb9c; text-decoration: none;">Vasse Mobilier</a>
                </div>
            </div>
        </div>
    {% endautoescape %}
{% endblock %}