{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

{% set path = options.link.url|default(path(options.link.route|default(grid.requestConfiguration.getRouteName('create')), options.link.parameters|default([]))) %}


{% if options.role is defined %}
    {% if is_granted(options.role) %}
        {{ buttons.create(path, action.label) }}
    {% endif %}
{% else %}
    {{ buttons.create(path, action.label) }}
{% endif %}
