{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

{% set path = options.link.url|default(path(options.link.route|default(grid.requestConfiguration.getRouteName('delete')), options.link.parameters|default({'id': data.id}))) %}

{% if options.role is defined %}
    {% if is_granted(options.role) and (data.saleClosedAt is not defined or data.saleClosedAt) %}
        {{ buttons.delete(path, action.label, true, data.id) }}
    {% endif %}
{% else %}
    {% if data.saleClosedAt is not defined or data.saleClosedAt %}
        {{ buttons.delete(path, action.label, true, data.id) }}
    {% endif %}
{% endif %}

