<table id="sylius-product-attributes" class="ui definition table" {{ sylius_test_html_attribute('product-attributes') }}>
    <tbody>
        <tr>
            <td class="seven wide"><strong class="gray text">{{ 'sylius.ui.width'|trans }}</strong></td>
            <td>{{ product.variants.first.width is not empty ? product.variants.first.width : '-' }}</td>
        </tr>
        <tr>
            <td class="seven wide"><strong class="gray text">{{ 'sylius.ui.height'|trans }}</strong></td>
            <td>{{ product.variants.first.height is not empty ? product.variants.first.height : '-' }}</td>
        </tr>
        <tr>
            <td class="seven wide"><strong class="gray text">{{ 'sylius.ui.depth'|trans }}</strong></td>
            <td>{{ product.variants.first.depth is not empty ? product.variants.first.depth : '-' }}</td>
        </tr>
        {# <tr>
            <td class="seven wide"><strong class="gray text">{{ 'sylius.ui.weight'|trans }}</strong></td>
            <td>{{ product.variants.first.weight is not empty ? product.variants.first.weight : '-' }}</td>
        </tr> #}
        <tr>
            <td class="seven wide"><strong class="gray text">{{ 'sylius.ui.volume'|trans }}</strong></td>
            <td>{{ product.variants.first.volume is not empty ? product.variants.first.volume : '-' }}</td>
        </tr>
    </tbody>
</table>
