<div class="ui segment">
    <h4 class="ui dividing header">{{ 'app.form.bank_infos.header'|trans }}</h4>
    {{ form_errors(form) }}
    <div style="display: flex; margin-bottom: 1.5rem;">
        <div style="width: 12%; padding-top: 35px; font-weight: bold;">RIB FRANCE</div>
        <div class="flex-grow-1 pr-2">{{ form_row(form.ribBanque) }}</div>
        <div class="flex-grow-1 px-2">{{ form_row(form.ribGuichet) }}</div>
        <div class="flex-grow-1 px-2">{{ form_row(form.ribCompte) }}</div>
        <div class="flex-grow-1 pl-2">{{ form_row(form.ribCle) }}</div>
    </div>
    <div style="display: flex; margin-bottom: 1.5rem;">
        <div style="width: 12%; padding-top: 7px; font-weight: bold;">IBAN Etranger</div>
        <div class="flex-grow-1">{{ form_row(form.IBANEtranger, {'label':false}) }}</div>
    </div>
    <div style="display: flex;">
        <div style="width: 12%; padding-top: 7px; font-weight: bold;">BIC</div>
        <div class="flex-grow-1">{{ form_row(form.BIC, {'label':false}) }}</div>
    </div>
</div>
