<div class="ui stackable two column grid">
    {% include '@SyliusAdmin/Product/Index/_header.html.twig' %}
    {% if is_granted('ROLE_SUPER_ADMINISTRATION_ACCESS') %}
        {% include '@SyliusAdmin/Crud/Index/_actions.html.twig' %}
    {% endif %}
</div>
