{% import '@SyliusUi/Macro/pagination.html.twig' as pagination %}

<div class="sylius-grid-nav">
    {% if data|length > 0 and definition.actionGroups.bulk is defined and definition.getEnabledActions('bulk')|length > 0 %}
        {% set hasBulkDiv = false %}
        {% for action in definition.getEnabledActions('bulk') %}
            {% if action.name == 'transfert' %}
                {% if criteria is not null and criteria|length > 0 and criteria.channel and criteria.channel != main_channel_id %}
                    {% if hasBulkDiv == false %}
                        {% set hasBulkDiv = true %}
                        <div class="sylius-grid-nav__bulk">
                    {% endif %}
                    {{ sylius_grid_render_bulk_action(grid, definition.getEnabledActions('bulk')['transfert'], null) }}
                {% endif %}
            {% else %}
                {% if hasBulkDiv == false %}
                    {% set hasBulkDiv = true %}
                    <div class="sylius-grid-nav__bulk">
                {% endif %}
                {{ sylius_grid_render_bulk_action(grid, action, null) }}
            {% endif %}
        {% endfor %}
        {% if hasBulkDiv == true %}
            </div>
        {% endif %}
    {% endif %}

    {% if definition.limits|length > 1 and data|length > min(definition.limits) %}
        <div class="sylius-grid-nav__pagination">
            {{ pagination.simple(data) }}
        </div>
        <div class="sylius-grid-nav__perpage">
            <div class="ui fluid one menu sylius-paginate">
                {{ pagination.perPage(data, definition.limits) }}
            </div>
        </div>
    {% endif %}
</div>
