{% extends '@SyliusShop/layout.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block content %}
    <div class="ui very padded center aligned secondary segment m-0 p-4 mt-5" style="background-color: var(--vasse-grey);">
        <div class="ui centered grid">
            <div class="sixteen wide tablet twelve wide computer column">
                <h1 class="ui huge header center aligned">Mentions légales.</h1>
                <div class="">
                    <p>
                        Le présent site, accessible à l’URL www.vassemobilier.fr (le « Site »), est édité par :
                    </p>
                    <p>
                        La Société VASSE TRANSFERT société au capital de 150.000 euros, inscrite au R.C.S. de
                        Nanterre sous le numéro 503 461 204, dont le siège social est situé au 29 rue Casimir
                        Poirier, 95870 Bezons, représenté(e) par M. David Vasse dument habilité,
                        (Ci-après désigné l’« Exploitant » ou « Société Vasse Transfert »).
                    </p>
                    <p>
                        Le numéro individuel TVA de l’Exploitant est : FR19503461204
                    </p>
                    <p>
                        Le Site est hébergé par la société Hébus, 103, rue des Frères Bernouilli 27000 Evreux - France <br> (tél : +33 2 32 62 79 29)
                    </p>
                    <p>
                        L’Exploitant peut être joint au numéro de téléphone suivant : 01.47.24.25.40, et à l’adresse mail suivante 
                        <a href="mailto:d.vasse@vassetransfert.fr">d.vasse@vassetransfert.fr</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
