<div id="checkoutHeader" class="ui basic segment">
    <div class="ui large text menu">
        <div class="ui small image">
            <a href="{{ path('sylius_shop_homepage') }}">
                <img src="{{ asset('build/app/shop/images/Vasse_Mobilier.png', 'app.shop') }}" alt="logo Vasse Mobilier" class="ui small image"  />
            </a>
        </div>
        <div class="right menu">
            {% if order.customer.id|default(null) is not null %}
                <div class="item" id="purchaser-email" {{ sylius_test_html_attribute('purchaser-name-or-email') }}>{{ 'sylius.ui.checking_out_as'|trans }} {{ app.user is null ? order.customer.email : order.customer.fullName|default(order.customer.email) }}.</div>
            {% else %}
                <a href="{{ path('sylius_shop_login') }}" class="item">{{ 'sylius.ui.sign_in'|trans }}</a>
            {% endif %}
        </div>
    </div>
</div>
