<button 
    type="submit" 
    class="ui icon primary large button" 
    id="sylius-cart-update" {{ sylius_test_html_attribute('cart-update-button') }} 
    form="{{ main_form }}"
>
    <i class="save icon left"></i> {{ 'sylius.ui.update_cart'|trans }}
</button>
