<div class="ui floated simple dropdown item">
    <i class="life ring icon"></i>
    <span>{{ 'sylius.ui.get_support'|trans }}</span>
    <div class="menu">
        <a href="https://docs.sylius.com" class="item" target="_blank">
            <i class="book icon"></i>
            {{ 'sylius.ui.documentation'|trans }}
        </a>
        {# <a href="https://sylius.com/slack" class="item" target="_blank">
            <i class="slack icon"></i>
            {{ 'sylius.ui.join_slack'|trans }}
        </a>
        <a href="https://forum.sylius.com" class="item" target="_blank">
            <i class="discourse icon"></i>
            {{ 'sylius.ui.join_forum'|trans }}
        </a>
        <a href="https://github.com/Sylius/Sylius/issues" class="item" target="_blank">
            <i class="github icon"></i>
            {{ 'sylius.ui.issue_tracker'|trans }}
        </a>
        <a href="https://www.youtube.com/channel/UCtZI2yUM2bZwbVlGpQJ9VCQ" class="item" target="_blank">
            <i class="youtube icon"></i>
            {{ 'sylius.ui.youtube'|trans }}
        </a> #}
    </div>
</div>
