<div class="ui attached segment">
    <div class="field">
        {% if is_granted('ROLE_SUPER_ADMINISTRATION_ACCESS') %}
            {{ form_label(form.hostname) }}
            <div class="ui labeled input">
                <div class="ui label">https://</div>
                {{ form_widget(form.hostname) }}
            </div>
            {{ form_errors(form.hostname) }}
        {% endif %}
    </div>
    {{ form_row(form.contactEmail) }}
    {{ form_row(form.contactPhoneNumber) }}
    {{ form_row(form.description, {'attr': {'rows' : '3'}}) }}
</div>
